body {
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.itemsContainer {
    height: 90%;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

.header > .btn {
    font-size: 10px;
    padding: 10px;
    width: 30px;
}

.header > h4 {
    padding: 0;
    margin: 0;
}

.itemsContainer .btn {
    width: 20%;
    margin: 10px;
    font-size: 0.8em;
}

#nextArrow {
    position: absolute;
    right: 30px;
    transform: translateX(10px) translateY(25px) rotate(180deg) ;
}

#previousArrow {
    position: absolute;
    left: 30px;
}

.item {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item > div {
    max-width: 10px;
}