body {
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.itemsContainer {
    height: 90%;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

body > .divBackArrow {
    top: 0.2em;
    left: 0.2em;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1.2em;
    background-color: rgb(27, 45, 77);
    padding-left: 2.5em;
}

.header > .btn {
    font-size: 10px;
    padding: 10px;
    width: 80px;
}

.header > #assoName {
    font-size: 13px;
}

.header > h4 {
    padding: 0;
    margin: 0;
}

.totalPrice {
    display: flex;
    align-items: center;
}

.totalPrice > h4:first-of-type {
    font-size: 13px;
    margin-right: 5px;
}

.itemsContainer .btn {
    width: 20%;
    margin: 10px;
    font-size: 0.8em;
}

#nextArrow {
    top: calc(50% - 1em);
    position: absolute;
    right: 30px;
    transform: translateX(10px) translateY(25px) rotate(180deg);
    height: 2.5em;
    width: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#previousArrow {
    top: 52%;
    position: absolute;
    left: 30px;
    height: 2.5em;
    width: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item > div {
    max-width: 10px;
}

.item > span {
    flex: 1.3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item > span:last-of-type {
    flex: 0.7;
}

.item > span > p {
    margin: 0;
}

.item > span > p:last-of-type {
    font-size: 12px;
}