.histoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.histoTemplate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    opacity: 0.5;
    color: white;
    font-size: 10px;
    font-weight: 600;
    width: 80%;
    height: 30px;
    border-radius: 7px;
}

.histoTemplate>div {
    display: flex;
    align-items: center;
}

.histoTemplate > div > img {
    height: 2em;
    width: 2em;
    padding: 15px;
    filter: invert(100%);
}

.histoTemplate > p:nth-child(2) {
    margin-right: 5%;
}