body {
    user-select: none;
    background-color: #101a24;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn {
    padding: 30px;
    border-radius: 20px;
    color: white;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

.blue {
    background-color: #4f7abc;
    -webkit-box-shadow: 0px 0px 40px 0px #4f7abc;
    box-shadow: 0px 0px 40px 0px #4f7abc;
}

.purple {
    background-color: #7f4fbc;
    -webkit-box-shadow: 0px 0px 40px 0px #7f4fbc;
    box-shadow: 0px 0px 40px 0px #7f4fbc;
}

.outline {
    background-color: transparent;
    border: solid 2px white;
}

.imgBackArrow {
    position: absolute;
    height: 1.5em;
}

.divBackArrow {
    position: absolute;
    top: 1em;
    left: 1em;
    height: 1.5em;
    width: 1.5em;
    padding: 15px;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}