body {
    background-color: #101a24;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

div {
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

div.price {
    font-size: 200%;
    letter-spacing: 5px;
}

#logoContainer {
    border: #7f4fbc 2px solid;
    padding: 2em;
    border-radius: 1em;
    width: 2em;
    height: 2em;
    -webkit-box-shadow: 0px 0px 40px 0px #7f4fbc;
    box-shadow: 0px 0px 40px 0px #7f4fbc;
}

img#nfcImg {
    width: 120%;
    animation: nfcLogo infinite cubic-bezier(.13, 1.11, .77, .18) 2s;
}

div#imgBack {
    width: 5%;
    position: absolute;
    margin-right: 85%;
    margin-bottom: 47%;
    opacity: 0.7;
}

@keyframes nfcLogo {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}