body {
    justify-content: space-evenly;
}

.price {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 5px;
    color: white;
}

#textWriter {
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.logoContainer {
    border: #7f4fbc 2px solid;
    padding: 2em;
    border-radius: 1em;
    width: 2em;
    height: 2em;
    -webkit-box-shadow: 0px 0px 40px 0px #7f4fbc;
    box-shadow: 0px 0px 40px 0px #7f4fbc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoContainer img {
    width: 120%;
}