.priceSelection {
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.priceSelection .btn {
    padding: 15px;
    max-width: 65px;
}

p {
    font-size: 17px;
    font-weight: 600;
    color: white;
    margin-top: 0;
}

#value {
    font-size: 20px;
    margin-bottom: 5px;
    transform: translateY(-14px);
}

.footContain {
    margin-bottom: -30px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footContain .btn {
    width: 70%;
    height: 10%;
}