.priceSelection {
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.priceSelection .btn {
    padding: 15px;
    max-width: 10%;
}

p {
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-top: 0;
}

.footContain {
    margin-bottom: -30px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footContain .btn {
    width: 30%;
}