.imgValid {
    width: 40px;
}

div {
    width: 80%;
    font-size: 120%;
    color: white;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.valid {
    height: 15%;
    font-size: 150%;
    color: #4f7abc;
}

div.reason {
    height: 10%;
    color: red;
}

.divBackArrow p {
    margin-left: 60px;
    opacity: 0.4;
}